name: Deploy to EC2

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: SSH into EC2 and Deploy
        uses: appleboy/ssh-action@v0.1.10
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USERNAME }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            cd ${{ secrets.PROJECT_PATH }}

            git pull
            npm install

            # Start or restart PM2 safely
            if pm2 list | grep -q "myapp"; then
              echo "PM2 process found. Restarting..."
              pm2 restart myapp
            else
              echo "PM2 process NOT found. Starting new app..."
              pm2 start app.js --name myapp
            fi

            pm2 save
